@model Personal_Budgeting_Web_App.Models.MonthlyExpenseModel

@{
    ViewData["Title"] = "Index";
}

<div>

	<div id="expensecontainer">
		@Html.Partial("ExpensesByDate", Model)
	</div>
</div>

<script>

	function getmonth(month, year) {
		$.ajax({
			url: '/ExpensesByDate',
			data: {
				month: month,
				year: year
			},
			dataType: 'html',
			success: function (data) {
				$('#expensecontainer').html(data);
			}
		});
	}
</script>