@model Personal_Budgeting_Web_App.Models.TestResultModel

<div>
    <h4>TestResultModel</h4>
    <hr />
    <table class="table">
        <thead>
            <tr scope="col">#</tr>
            <tr scope="col">Test Case</tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= Model.SuccessfulTests.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@Model.SuccessfulTests[i - 1]</td>
                </tr>
            }
            @for (int i = 1; i <= Model.FailedTests.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@Model.FailedTests[i - 1]</td>
                </tr>
            }
        </tbody>
    </table>
</div>