@model Personal_Budgeting_Web_App.Models.TestResultModel

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Test Case</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= Model.SuccessfulTests.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td style="color:green">@Model.SuccessfulTests[i - 1]</td>
                </tr>
            }
            @for (int i = 1; i <= Model.FailedTests.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td style="color:red">@Model.FailedTests[i - 1]</td>
                </tr>
            }
        </tbody>
    </table>
</div>